.navbar{
    background-color: rgb(21, 122, 10);
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 20px;
    font-weight: 900;
}
.font{
    font-family: 'Edu NSW ACT Foundation';
    font-size: xx-large;
}
a{
    color: white;
}
body{
    width: 70%;
    margin: auto;


}
span{
    padding: 10px;
    width: 80px;
    height: 30px;
    border: 5px;
    background-color: green
}