.navbar{
    background-color: rgba(18, 19, 18, 0.969);
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 20px;
    font-weight: 900;
}
.font{
    font-family: 'Edu NSW ACT Foundation';
    font-size: xx-large;
    color: whitesmoke;
}
a{
    color: white;
}
body{
    width: 70%;
    margin: auto;
    background-image: url(Images/cow.webp);
    background-repeat: no-repeat;
    /* background-size: cover; */
    


}
span{
    padding: 10px;
    width: 80px;
    height: 30px;
    border: 5px;
    background-color: green
}